* {
  padding: 0;
  margin: 0;
}
.heading {
  text-align: center;
  margin: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 2px blue;
}
.product-container {
  display: flex;
  background-color: red;
  width: 100%;
}
